body {
    font-family: 'Varela Round', sans-serif;
}

h1 {
    color: green;
}

.tree_input {
    background: #e0ffe0;
    margin-bottom: 5px;
    padding: 5px;
}

.tree_input .label {
    float: left;
    width: 115px;
}

.tree_input .inputs {
    margin-left: 120px;
}

.footer {
    margin-top: 15px;
    border-top: 1px solid gray;
    font-size: 80%;
}

pre.result {
    background: #e0ffe0;
    border: 1px solid darkgrey;
    padding: 5px;
}
