<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <title>Multiple Gene Duplication Problem</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
  {% block extra-head %}
  {% endblock %}
</head>
<body>

<h1>Multiple Gene Duplication Problem</h1>

<div class="content">
  {% block content %}{% endblock %}
</div>

<div class="footer">
  The research was supported, in part, by Grant ว-ท(ด)56.51 from
  <a href="http://rdi.ku.ac.th">Kasetsart University Research and
  Development Institute</a>.
</div>
</body>
</html>
