{% extends "base.html" %}

{% block content %} 
<p>
  This website provides a demonstration of the algorithm for the
  Multiple Gene Duplication Problem that appears
  in <a href="http://theory.cpe.ku.ac.th/~jittat/papers/ncsec08-LinearMGDP.pdf">this
  paper</a>.  If you need to compute the mapping for bigger trees, the
  source code for the command-line version is
  available <a href="https://gitorious.org/mgdp/mgdp-cli">here</a>.<br/>
</p>

<form class="instance_form" action="{% url find_mapping %}" method="post">
  {% csrf_token %}
  <h2>Enter tree information</h2>
  <p>
    Please enter the input trees in Newick format.
    <button id="add_more">Add more gene tree</button>
  </p>
  <div class="tree_input">
    <div class="label">
      Species tree
    </div>
    <div class="inputs">
      <textarea name="stree_rep" cols="50"></textarea>
    </div>
  </div>
  <div id="gene_trees_div">
    <div class="tree_input gene_tree_div">
      <div class="label">
	Gene tree 1
      </div>
      <div class="inputs">
	Name: <input name="gtree1_name" type="text"/><br/>
	<textarea name="gtree1_rep" cols="50"></textarea>
      </div>
    </div>
  </div>
  <input type="submit" value="Compute mapping"/>
</form>

<script type="text/javascript">
  $(function(){
    $("#add_more").click(function() {
      var gcount = $(".gene_tree_div").length;
      var gnum = gcount + 1;
      $("#gene_trees_div").append(
"    <div class=\"tree_input gene_tree_div\"> \
      <div class=\"label\"> \
	Gene tree " + gnum + " \
      </div> \
      <div class=\"inputs\"> \
	Name: <input name=\"gtree" + gnum + "_name\" type=\"text\"/><br/> \
	<textarea name=\"gtree" + gnum + "_rep\" cols=\"50\"></textarea> \
      </div> \
    </div>"
      );
      return false;
    });
  });
</script>
{% endblock %}
